<template name="formSubmit">
  <form class="main" name = "form">
    <div class="control-group">
        <label class="control-label" for="url">The day of the meal!!</label>
        {{#if error}}
		<span id="error" style="color: red;">
    	{{error}}
    	</span>
    	{{/if}}

        <div class="controls">
            <input name="date" type="date" value="" placeholder=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Meal of the Day</label>
        <div class="controls">
            <input name="meal" type="text" value="" placeholder="Lunch..Dinner.."/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">What Will I take to eat!</label>
        <div class="controls">
            <textarea name="food" type="text" value="Make me food" ></textarea>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>

        </div>
    </div>
    
   
		
  </form>
  <div class="panel-body">
                {{> reactiveTable collection=tables settings=tableSettings}}
            </div>
            

</template>